* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
    font-family: "Segoe UI", Arial, sans-serif;
}










@media screen and (max-width: 1200px) {
    .cards-wrapper{
       justify-content: center;
       gap: 10px;
        flex-wrap: wrap;
    }
    
    .cards-wrapper>div{
        width: 25%;
   } 
   
  }



@media screen and (max-width: 700px) {
    .cards-wrapper{
        gap: 8px;
     }
  
  
    .cards-wrapper>div{
        width: 48%;
   } 


}