* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
    font-family: "Segoe UI", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}




.head {
    background-color: rgb(33, 33, 33);
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.head-wrapper>div:nth-child(1)>div:nth-child(1) {
    display: none;
}

.head-wrapper>div:nth-child(2) {
    display: flex;
    gap: 80px;

    text-decoration: none;
}

.head-wrapper>div:nth-child(2)>a {
    text-decoration: none;
    color: #BCBCBC;
}

.head-wrapper>div:nth-child(2)>a:hover {
    color: #ffffff;
}

.head-wrapper>div:nth-child(3)>div:nth-child(1) {
    position: relative;

}

.head-wrapper>div:nth-child(3)>div:nth-child(1)>input {
    display: none
}

.head-wrapper>div:nth-child(3)>div:nth-child(1)>i {
    color: #BCBCBC;

}

.head-wrapper>div:nth-child(3)>div:nth-child(1)>i:hover {
    color: #ffffff;
    cursor: pointer;
}

.head-wrapper>div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 15px;
}

.head-wrapper>div:nth-child(3)>i {
    color: #BCBCBC;

}

.head-wrapper>div:nth-child(3)>i:hover {
    color: #ffffff;
    cursor: pointer;

}

.carousel {
    background-color: #121212;
    padding: 100px 0px;

}

.cards {
    background-color: #121212;
}

.cards-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch; 
}

.cards-wrapper>div {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 10px;
}

.cards-wrapper>div:nth-child(7),
.cards-wrapper>div:nth-child(8) {
    display: none;
}

.cards-wrapper>div>div:nth-child(1) {
    position: relative;
}

.cards-wrapper>div>div:nth-child(1)>img {
    border-radius: 10px;

}

.cards-wrapper>div>div:nth-child(1)>span {
    position: absolute;
    font-size: 10px;
    font-weight: 800;
    color: white;
    top: 25px;
    right: 1px;
    background-color: #bd971f;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cards-wrapper>div>div:nth-child(2) {
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    color: white;
    height: 30px;
    width: 140px;

}

.cards-wrapper>div>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-wrapper>div>div:nth-child(3)>div:nth-child(2) {
    width: 2px;
    height: 50px;
    background-color: #636363;
}

.cards-wrapper>div>div:nth-child(3)>div:nth-child(1)>span:nth-child(3) {
    width: 46px;
    height: 2px;
    position: relative;
    top: -12px;
    display: block;
    background-color: #919191;
}

.cards-wrapper>div>div:nth-child(3)>div:nth-child(3) {
    background-color: #3b9846;
    padding: 5px 10px;

    border-radius: 20px;
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0px 0px;
        width: 100%;
    }

    .head-wrapper>div:nth-child(1) {
        display: flex;
        align-items: center;
    }

    .head-wrapper>div:nth-child(1)>div:nth-child(1) {
        display: flex;

    }

    .head-wrapper>div:nth-child(1)>div:nth-child(1)>i {
        color: white;
    }

    .head-wrapper>div:nth-child(2) {
        display: none;

    }

    .seller-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .seller-wrapper>div {
        width: 48%;
    }

    .seller-wrapper>div>div:nth-child(3)>div:nth-child(1) {
        padding-right: 30%;

    }

    .cards-wrapper>div:nth-child(7),
    .cards-wrapper>div:nth-child(8) {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .head {
        padding-bottom: 70px;
    }

    .head-wrapper>div:nth-child(1) {
        gap: 40%;
    }

    .head-wrapper>div:nth-child(3)>div:nth-child(1) {
        position: absolute;
        left: 5%;
        transition: left .35s ease-in-out;
        top: 50px;
        display: flex;
        align-items: center;
        border: 1px solid gray;
        width: 90%;
        background-color: black;
        padding: 3px 10px;
        border-radius: 50px;
    }

    .head-wrapper>div:nth-child(3)>div:nth-child(1)>input {
        display: flex;
        border: none;
        width: 100%;
        background-color: black;
        color: #BCBCBC;

    }

    #one:focus {
        outline: none;
        box-shadow: none;
    }

    .carousel {
        padding-bottom: 20px;
    }

    .seller-wrapper>div>div:nth-child(3)>div:nth-child(1) {
        padding-right: 40%;
    }

    .seller-wrapper>div {
        width: 95%;
    }

    .cards-wrapper>div {
        width: 70%;
    }

    .cards-wrapper>div>div:nth-child(3)>div:nth-child(1) {
        display: flex;
        gap: 10px;
    }

    .cards-wrapper>div>div:nth-child(3)>div:nth-child(1)>p {
        display: flex;
        align-items: center;
        gap: 5px;

    }

    .cards-wrapper>div>div:nth-child(3)>div:nth-child(1)>span {
        display: flex;
        align-items: center;
    }

    .cards-wrapper>div>div:nth-child(3)>div:nth-child(1)>span:nth-child(3) {
        top: 12px;
        right: 55px;
    }

    .cards-wrapper>div>div:nth-child(3)>div:nth-child(2) {
        display: none;

    }

    .cards-wrapper>div>div:nth-child(3)>div:nth-child(3) {
        display: none;

    }
}